default: &default
  adapter: sqlite3
  pool: 5
  timeout: 5000
  encoding: unicode
  host: localhost

development:
  <<: *default
  database: db/development.sqlite3

test:
  <<: *default
  database: db/test.sqlite3

production:
  url: <%= ENV['DATABASE_URL'] %>
  adapter: postgresql
  database: production
  host: localhost
  pool: 5
  timeout: 5000
  username: <%= ENV['PG_USER'] %>,
  password: <%= ENV['PG_PASS'] %>
